target/basic.xml
target/checkstyle-checker.xml
target/checkstyle-header.txt
target/checkstyle-result.xml
target/classes/com/digitalbrikes/contract/Condition.class
target/classes/com/digitalbrikes/contract/ConditionType.class
target/classes/com/digitalbrikes/contract/Contract.class
target/classes/com/digitalbrikes/contract/ContractBreachException$ErrorType.class
target/classes/com/digitalbrikes/contract/ContractBreachException.class
target/classes/com/digitalbrikes/contract/ContractClassException$ErrorType.class
target/classes/com/digitalbrikes/contract/ContractClassException.class
target/classes/com/digitalbrikes/contract/ContractException.class
target/classes/com/digitalbrikes/contract/ContractInvocationHandler.class
target/classes/com/digitalbrikes/contract/Contracted.class
target/classes/com/digitalbrikes/contract/PostConditioned.class
target/classes/com/digitalbrikes/contract/Postcondition.class
target/classes/com/digitalbrikes/contract/PreConditioned.class
target/classes/com/digitalbrikes/contract/Precondition.class
target/coverage-0.ec
target/coverage.em
target/cpd.xml
target/generated-classes/emma/classes/com/digitalbrikes/contract/Condition.class
target/generated-classes/emma/classes/com/digitalbrikes/contract/ConditionType.class
target/generated-classes/emma/classes/com/digitalbrikes/contract/Contract.class
target/generated-classes/emma/classes/com/digitalbrikes/contract/ContractBreachException$ErrorType.class
target/generated-classes/emma/classes/com/digitalbrikes/contract/ContractBreachException.class
target/generated-classes/emma/classes/com/digitalbrikes/contract/ContractClassException$ErrorType.class
target/generated-classes/emma/classes/com/digitalbrikes/contract/ContractClassException.class
target/generated-classes/emma/classes/com/digitalbrikes/contract/ContractException.class
target/generated-classes/emma/classes/com/digitalbrikes/contract/ContractInvocationHandler.class
target/generated-classes/emma/classes/com/digitalbrikes/contract/Contracted.class
target/generated-classes/emma/classes/com/digitalbrikes/contract/PostConditioned.class
target/generated-classes/emma/classes/com/digitalbrikes/contract/Postcondition.class
target/generated-classes/emma/classes/com/digitalbrikes/contract/PreConditioned.class
target/generated-classes/emma/classes/com/digitalbrikes/contract/Precondition.class
target/imports.xml
target/jdepend-report.xml
target/pmd.xml
target/site/apidocs/allclasses-frame.html
target/site/apidocs/allclasses-noframe.html
target/site/apidocs/com/digitalbrikes/contract/Condition.html
target/site/apidocs/com/digitalbrikes/contract/ConditionType.html
target/site/apidocs/com/digitalbrikes/contract/Contract.html
target/site/apidocs/com/digitalbrikes/contract/ContractBreachException.ErrorType.html
target/site/apidocs/com/digitalbrikes/contract/ContractBreachException.html
target/site/apidocs/com/digitalbrikes/contract/ContractClassException.ErrorType.html
target/site/apidocs/com/digitalbrikes/contract/ContractClassException.html
target/site/apidocs/com/digitalbrikes/contract/ContractException.html
target/site/apidocs/com/digitalbrikes/contract/ContractInvocationHandler.html
target/site/apidocs/com/digitalbrikes/contract/Contracted.html
target/site/apidocs/com/digitalbrikes/contract/PostConditioned.html
target/site/apidocs/com/digitalbrikes/contract/Postcondition.html
target/site/apidocs/com/digitalbrikes/contract/PreConditioned.html
target/site/apidocs/com/digitalbrikes/contract/Precondition.html
target/site/apidocs/com/digitalbrikes/contract/class-use/Condition.html
target/site/apidocs/com/digitalbrikes/contract/class-use/ConditionType.html
target/site/apidocs/com/digitalbrikes/contract/class-use/Contract.html
target/site/apidocs/com/digitalbrikes/contract/class-use/ContractBreachException.ErrorType.html
target/site/apidocs/com/digitalbrikes/contract/class-use/ContractBreachException.html
target/site/apidocs/com/digitalbrikes/contract/class-use/ContractClassException.ErrorType.html
target/site/apidocs/com/digitalbrikes/contract/class-use/ContractClassException.html
target/site/apidocs/com/digitalbrikes/contract/class-use/ContractException.html
target/site/apidocs/com/digitalbrikes/contract/class-use/ContractInvocationHandler.html
target/site/apidocs/com/digitalbrikes/contract/class-use/Contracted.html
target/site/apidocs/com/digitalbrikes/contract/class-use/PostConditioned.html
target/site/apidocs/com/digitalbrikes/contract/class-use/Postcondition.html
target/site/apidocs/com/digitalbrikes/contract/class-use/PreConditioned.html
target/site/apidocs/com/digitalbrikes/contract/class-use/Precondition.html
target/site/apidocs/com/digitalbrikes/contract/package-frame.html
target/site/apidocs/com/digitalbrikes/contract/package-summary.html
target/site/apidocs/com/digitalbrikes/contract/package-tree.html
target/site/apidocs/com/digitalbrikes/contract/package-use.html
target/site/apidocs/constant-values.html
target/site/apidocs/deprecated-list.html
target/site/apidocs/help-doc.html
target/site/apidocs/index-all.html
target/site/apidocs/index.html
target/site/apidocs/overview-tree.html
target/site/apidocs/package-list
target/site/apidocs/resources/inherit.gif
target/site/apidocs/serialized-form.html
target/site/apidocs/stylesheet.css
target/site/checkstyle.html
target/site/checkstyle.rss
target/site/cpd.html
target/site/cpd.xml
target/site/css/maven-base.css
target/site/css/maven-theme.css
target/site/css/print.css
target/site/css/site.css
target/site/dependencies.html
target/site/emma/_files/0.html
target/site/emma/_files/1.html
target/site/emma/_files/2.html
target/site/emma/_files/3.html
target/site/emma/_files/4.html
target/site/emma/_files/5.html
target/site/emma/_files/6.html
target/site/emma/_files/7.html
target/site/emma/_files/8.html
target/site/emma/_files/9.html
target/site/emma/coverage.xml
target/site/emma/index.html
target/site/findbugs.html
target/site/images/close.gif
target/site/images/collapsed.gif
target/site/images/expanded.gif
target/site/images/external.png
target/site/images/icon_error_sml.gif
target/site/images/icon_info_sml.gif
target/site/images/icon_success_sml.gif
target/site/images/icon_warning_sml.gif
target/site/images/logos/build-by-maven-black.png
target/site/images/logos/build-by-maven-white.png
target/site/images/logos/maven-feather.png
target/site/images/newwindow.png
target/site/images/rss.png
target/site/index.html
target/site/integration.html
target/site/issue-tracking.html
target/site/jdepend-report.html
target/site/license.html
target/site/mail-lists.html
target/site/plugin-management.html
target/site/plugins.html
target/site/pmd.html
target/site/pmd.xml
target/site/project-info.html
target/site/project-reports.html
target/site/project-summary.html
target/site/source-repository.html
target/site/surefire-report.html
target/site/team-list.html
target/site/testapidocs/allclasses-frame.html
target/site/testapidocs/allclasses-noframe.html
target/site/testapidocs/com/digitalbrikes/service/ContractedServiceExample.html
target/site/testapidocs/com/digitalbrikes/service/ContractedServiceExampleUser.html
target/site/testapidocs/com/digitalbrikes/service/NonContractedServiceExample.html
target/site/testapidocs/com/digitalbrikes/service/NonContractedServiceExampleUser.html
target/site/testapidocs/com/digitalbrikes/service/TestServiceUserTest.html
target/site/testapidocs/com/digitalbrikes/service/class-use/ContractedServiceExample.html
target/site/testapidocs/com/digitalbrikes/service/class-use/ContractedServiceExampleUser.html
target/site/testapidocs/com/digitalbrikes/service/class-use/NonContractedServiceExample.html
target/site/testapidocs/com/digitalbrikes/service/class-use/NonContractedServiceExampleUser.html
target/site/testapidocs/com/digitalbrikes/service/class-use/TestServiceUserTest.html
target/site/testapidocs/com/digitalbrikes/service/contract/ContractedServiceExampleContract.html
target/site/testapidocs/com/digitalbrikes/service/contract/class-use/ContractedServiceExampleContract.html
target/site/testapidocs/com/digitalbrikes/service/contract/package-frame.html
target/site/testapidocs/com/digitalbrikes/service/contract/package-summary.html
target/site/testapidocs/com/digitalbrikes/service/contract/package-tree.html
target/site/testapidocs/com/digitalbrikes/service/contract/package-use.html
target/site/testapidocs/com/digitalbrikes/service/package-frame.html
target/site/testapidocs/com/digitalbrikes/service/package-summary.html
target/site/testapidocs/com/digitalbrikes/service/package-tree.html
target/site/testapidocs/com/digitalbrikes/service/package-use.html
target/site/testapidocs/constant-values.html
target/site/testapidocs/deprecated-list.html
target/site/testapidocs/help-doc.html
target/site/testapidocs/index-all.html
target/site/testapidocs/index.html
target/site/testapidocs/overview-frame.html
target/site/testapidocs/overview-summary.html
target/site/testapidocs/overview-tree.html
target/site/testapidocs/package-list
target/site/testapidocs/resources/inherit.gif
target/site/testapidocs/stylesheet.css
target/site/xref-test/allclasses-frame.html
target/site/xref-test/com/digitalbrikes/service/ContractedServiceExample.html
target/site/xref-test/com/digitalbrikes/service/ContractedServiceExampleUser.html
target/site/xref-test/com/digitalbrikes/service/NonContractedServiceExample.html
target/site/xref-test/com/digitalbrikes/service/NonContractedServiceExampleUser.html
target/site/xref-test/com/digitalbrikes/service/TestServiceUserTest.html
target/site/xref-test/com/digitalbrikes/service/contract/ContractedServiceExampleContract.html
target/site/xref-test/com/digitalbrikes/service/contract/package-frame.html
target/site/xref-test/com/digitalbrikes/service/contract/package-summary.html
target/site/xref-test/com/digitalbrikes/service/package-frame.html
target/site/xref-test/com/digitalbrikes/service/package-summary.html
target/site/xref-test/index.html
target/site/xref-test/overview-frame.html
target/site/xref-test/overview-summary.html
target/site/xref-test/stylesheet.css
target/site/xref/allclasses-frame.html
target/site/xref/com/digitalbrikes/contract/Condition.html
target/site/xref/com/digitalbrikes/contract/ConditionType.html
target/site/xref/com/digitalbrikes/contract/Contract.html
target/site/xref/com/digitalbrikes/contract/ContractBreachException.html
target/site/xref/com/digitalbrikes/contract/ContractClassException.html
target/site/xref/com/digitalbrikes/contract/ContractException.html
target/site/xref/com/digitalbrikes/contract/ContractInvocationHandler.html
target/site/xref/com/digitalbrikes/contract/Contracted.html
target/site/xref/com/digitalbrikes/contract/PostConditioned.html
target/site/xref/com/digitalbrikes/contract/Postcondition.html
target/site/xref/com/digitalbrikes/contract/PreConditioned.html
target/site/xref/com/digitalbrikes/contract/Precondition.html
target/site/xref/com/digitalbrikes/contract/package-frame.html
target/site/xref/com/digitalbrikes/contract/package-summary.html
target/site/xref/index.html
target/site/xref/overview-frame.html
target/site/xref/overview-summary.html
target/site/xref/stylesheet.css
target/surefire-reports/TEST-com.digitalbrikes.service.TestServiceUserTest.xml
target/surefire-reports/com.digitalbrikes.service.TestServiceUserTest.txt
target/test-classes/com/digitalbrikes/service/ContractedServiceExample.class
target/test-classes/com/digitalbrikes/service/ContractedServiceExampleUser.class
target/test-classes/com/digitalbrikes/service/NonContractedServiceExample.class
target/test-classes/com/digitalbrikes/service/NonContractedServiceExampleUser.class
target/test-classes/com/digitalbrikes/service/TestServiceUserTest.class
target/test-classes/com/digitalbrikes/service/contract/ContractedServiceExampleContract.class
target/unusedcode.xml